In [97]:
import os
from pathlib import Path
import pandas as pd

for file in Path('./data/gpt2/').glob('**/*.txt'):
    df = pd.read_csv(file, 
                     sep = '\n', 
                     header=None, 
                     error_bad_lines=False, 
                     names=['text'])

df.head()
df.shape

(1013, 1)

In [98]:
from nltk import word_tokenize

def preprocess_text(df):
    # Define characters to remove 
    delete_table = dict.fromkeys(map(ord, '<|>'), '')
    df.text = df.text.apply(lambda sent: sent.translate(delete_table).replace('startoftext', '').replace('endoftext', ''))
    df['text'].dropna(inplace=True) # Remove empty rows
    
    # Drop singe word sentences
    df['length'] = df.text.apply(lambda sent: len(word_tokenize(sent)))
    df = df[df['length'] > 1]
    df.drop('length', axis=1, inplace=True)
    
    return df

df = preprocess_text(df)
df.shape

C:\Users\Bureau Zuidema\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(992, 1)

In [99]:
from difflib import SequenceMatcher

def similar(a, b):
    return SequenceMatcher(None, a, b).ratio()

In [100]:
import string

def clean_text(sent):
    # Convert to lowercase
    sent = sent.lower()
    
    # Remove punctuation
    translation = dict.fromkeys(map(ord, string.punctuation), '')
    sent = sent.translate(translation)
    
    return sent

In [104]:
df = df.reset_index()
df['cleaned'] = df.text.apply(lambda sent: clean_text(sent))
df

,index,text,cleaned
0,0,But they are ignorant and stupid and should be...,but they are ignorant and stupid and should be...
1,1,We need more of our kids on the honor role and...,we need more of our kids on the honor role and...
2,2,It is our policy to reject Jews and every Whit...,it is our policy to reject jews and every whit...
3,3,These guys are killing our culture while prete...,these guys are killing our culture while prete...
4,4,Bbut they are starting to have cold feet .... ...,bbut they are starting to have cold feet see ...
...,...,...,...
862,1006,I know I keep hoping I will one day find a job...,i know i keep hoping i will one day find a job...
863,1007,...morality = zero,morality zero
864,1009,Why on earth are the swedish parents letting t...,why on earth are the swedish parents letting t...
865,1010,A German Shepherd is one of the few German She...,a german shepherd is one of the few german she...
866,1011,I think asians are hot but they arent the girl...,i think asians are hot but they arent the girl...

In [105]:
def remove_duplicates(df, /, percentage=0.9):
    # Remove exact duplicates.
    df['cleaned'] = df['text'].apply(lambda x: clean_text(x))
    df.drop_duplicates(['cleaned'], keep='first', inplace=True)
    print('After dropping duplicates:', len(df))

    # Remove very similar texts.
    indices = []

    for row in df.itertuples():
        for row2 in df.loc[row[0] + 1:].itertuples():
            if similar(row[3], row2[3]) >= percentage:
                indices.append((row[0], row2[0]))

    similars = [first for first, second in list(set(tuple(sorted(sub)) for sub in indices))]
    df.drop(similars, inplace=True)

    # Dropped a total of 30.
    return df

In [106]:
remove_duplicates(df)

After dropping duplicates: 867

,index,text,cleaned
0,0,But they are ignorant and stupid and should be...,but they are ignorant and stupid and should be...
1,1,We need more of our kids on the honor role and...,we need more of our kids on the honor role and...
2,2,It is our policy to reject Jews and every Whit...,it is our policy to reject jews and every whit...
3,3,These guys are killing our culture while prete...,these guys are killing our culture while prete...
4,4,Bbut they are starting to have cold feet .... ...,bbut they are starting to have cold feet see ...
...,...,...,...
862,1006,I know I keep hoping I will one day find a job...,i know i keep hoping i will one day find a job...
863,1007,...morality = zero,morality zero
864,1009,Why on earth are the swedish parents letting t...,why on earth are the swedish parents letting t...
865,1010,A German Shepherd is one of the few German She...,a german shepherd is one of the few german she...
866,1011,I think asians are hot but they arent the girl...,i think asians are hot but they arent the girl...

In [92]:
df

,text,cleaned
0,But they are ignorant and stupid and should be...,but they are ignorant and stupid and should be...
1,We need more of our kids on the honor role and...,we need more of our kids on the honor role and...
2,It is our policy to reject Jews and every Whit...,it is our policy to reject jews and every whit...
3,These guys are killing our culture while prete...,these guys are killing our culture while prete...
4,Bbut they are starting to have cold feet .... ...,bbut they are starting to have cold feet see ...
...,...,...
1006,I know I keep hoping I will one day find a job...,i know i keep hoping i will one day find a job...
1007,...morality = zero,morality zero
1009,Why on earth are the swedish parents letting t...,why on earth are the swedish parents letting t...
1010,A German Shepherd is one of the few German She...,a german shepherd is one of the few german she...
1011,I think asians are hot but they arent the girl...,i think asians are hot but they arent the girl...

In [93]:
file = './data/gibert/hate_train.csv'
og_df = pd.read_csv(file, sep = '\n', header=None, error_bad_lines = False, names=['text'])
og_df

                                                  text
0    I would not be surprised if this woman was spe...
1    If they were jew pieces of garbage who the hel...
2    Put that fat Black idiot to work and she would...
3    I am White and I believe all White people know...
4    Also notice that the Nig giving the running co...
..                                                 ...
951  Every time I see a black security guard they a...
952  The problem is in blacks ' heads , but hey , y...
953  Look at this cultural incongruity from Plymout...
954  They ca n't survive without us , but they do u...
955  Click below for a FREE download of a colorfull...

[956 rows x 1 columns]

In [124]:
def remove_replicates(new_df, og_df, /, percentage=0.9):
    df = new_df.append(og_df)
    #df = remove_duplicates(df)
    df['cleaned'] = df['text'].apply(lambda x: clean_text(x))
    df.drop_duplicates(['cleaned'], keep='first', inplace=True)
    df.dropna('index', inplace=True) # Remove empty rows
    df.drop(['cleaned'], axis=1, inplace=True)

    print('After dropping duplicates:', len(df))
    return df

In [126]:
final = remove_replicates(df, og_df)
print(final.shape)
final.to_csv('./data/gpt2/cleaned_hate.csv', index=False)

After dropping duplicates: 837
(837, 2)